@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0f172a;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /* background-image: url("img/Background\ Main\ Menu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */
}

.bgShape {
  position: absolute;
  top: -150px;
  left: -170px;
  width: 100%;
  height: 150vh;
  filter: blur(80px);
  z-index: -1;
}

.bgShape span:nth-child(1) {
  background-color: rgba(0, 255, 255, 0.3);
  width: 80px;
  height: 600px;
  position: absolute;
  top: 200px;
  left: 550px;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.bgShape span:nth-child(2) {
  background-color: rgb(220, 40, 40, 0.4);
  width: 80px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 500px;
  left: 900px;
  transform: rotate(-20deg);
}

.bgShape span:nth-child(3) {
  background-color: rgba(99, 116, 140, 0.4);
  width: 80px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 250px;
  left: 950px;
  transform: rotate(-20deg);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 93%;
  padding: 15px 25px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.507);
}

nav .logo svg {
  color: white;
  margin-left: 10px;
  padding-top: 8px;
}

.hamburger-menu {
  display: none;
}

nav ul {
  padding-top: 10px;
  list-style: none;
  display: flex;
  gap: 10px;
  transition: 0.2s linear;
  transition-delay: 0.1s;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 15px;
  font-size: 18px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul li a::after {
  content: "";
  display: block;
  margin-top: 5px;
  border-bottom: 2px solid #ffffff;
  border-radius: 5px;
  width: 100%;
  transition: 0.2s linear;
  transform: scaleX(0);
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

.container {
  margin: 0 auto;
  width: 90%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

.container .sideL {
  width: 40%;
  height: 85vh;
  position: relative;
}

.sideL h5 {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sideL h5 div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
}

.sideL h5 div span {
  display: flex;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255, 0.7);
}

.sideL h1 {
  margin-top: 45px;
  font-size: 60px;
  font-weight: 800;
  color: whitesmoke;
  margin-bottom: 30px;
}

.sideL button:nth-child(3) {
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 17px;
  display: block;
  color: #22d3ee;
  padding: 2px 5px 2px 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.sideL button:nth-child(3) svg {
  padding-right: 5px;
  transition: 0.2s;
}

.sideL button:nth-child(3):hover svg {
  padding-right: 8px;
}

.sideL button:nth-child(4) {
  cursor: pointer;
  margin-bottom: 50px;
  font-size: 17px;
  display: block;
  color: #22d3ee;
  width: 150px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}
.sideL button:nth-child(4) svg {
  padding-right: 7px;
  transition: 0.2s;
}

.sideL button:nth-child(4):hover svg {
  padding-right: 10px;
}

.whtHr {
  opacity: 0;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: scale(0.8);
  z-index: -1;
}

.whtHr.popin,
.abtS.popin {
  opacity: 1;
  transform: scale(1);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.whtHr .container,
.abtS .container {
  background-color: #020617;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 80%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition-duration: 200ms;
}

.whtHr .container div:nth-child(1),
.abtS .container div:nth-child(1) {
  padding: 15px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.whtHr .container div:nth-child(1) .dotsWht,
.abtS .container div:nth-child(1) .dotsWht {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100px;
  margin-left: 20px;
}

.whtHr .container div:nth-child(1) .dotsWht span:nth-child(1),
.abtS .container div:nth-child(1) .dotsWht span:nth-child(1) {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #ef4444;
}

.whtHr .container div:nth-child(1) .dotsWht span:nth-child(2),
.abtS .container div:nth-child(1) .dotsWht span:nth-child(2) {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #eab308;
}

.whtHr .container div:nth-child(1) .dotsWht span:nth-child(3),
.abtS .container div:nth-child(1) .dotsWht span:nth-child(3) {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #22c55e;
}

.whtHr .container div:nth-child(1) .Xicon,
.abtS .container div:nth-child(1) .CloseBtn {
  cursor: pointer;
  padding: 7px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: 50ms;
}

.whtHr .container div:nth-child(1) .Xicon:hover,
.abtS .container div:nth-child(1) .CloseBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.whtHr .container div:nth-child(1) .Xicon svg,
.abtS .container div:nth-child(1) .CloseBtn svg {
  color: white;
}

.whtHr .container p,
.abtS .container p {
  padding: 5px 20px;
  width: 95%;
  margin: 0 auto;
  color: white;
  font-size: 17px;
}

.abtS {
  opacity: 0;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: scale(0.8);
  z-index: -1;
}

.sideL a:nth-child(5) {
  background-color: #06b6d4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  height: 55px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
}

.sideL a:nth-child(5):hover {
  background-color: #0987a7;
  transition: 0.2s;
}

.sideL a:nth-child(5) svg:nth-child(1) {
  padding-left: 20px;
}

.sideL a:nth-child(5) h4 {
  border-right: 1px solid white;
  padding-right: 10px;
}

.sideL a:nth-child(5) svg:nth-child(3) {
  padding-right: 11px;
}

.sideL h2 {
  position: absolute;
  bottom: 40px;
  font-size: 28px;
  color: white;
}

.sideL p {
  position: absolute;
  bottom: 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.76);
}

.container .sideR {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.sideR img {
  width: 480px;
  object-fit: cover;
  z-index: -1;
}

.fade-left-element {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.8s ease, transform 0.9s ease;
  transition-delay: var(--animation-delay);
}

.fade-left-element.fade {
  opacity: 1;
  transform: translateX(0);
}

.fade-right-element {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.7s ease, transform 0.8s ease;
  transition-delay: var(--animation-delay);
}

.fade-right-element.fade {
  opacity: 1;
  transform: translateX(0);
}

/* Mobile */
@media screen and (max-width: 576px) {
  body {
    overflow-y: auto;
    height: 100vh;
  }

  .bgShape {
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    height: 170%;
    filter: blur(80px);
    z-index: -1;
    overflow-x: hidden;
  }

  .bgShape span:nth-child(1) {
    height: 800px;
    top: 300px;
    left: 50px;
    transform: rotate(-30deg);
  }

  .bgShape span:nth-child(2) {
    height: 500px;
    top: 250px;
    left: 300px;
    transform: rotate(-20deg);
  }

  .bgShape span:nth-child(3) {
    display: none;
  }

  nav {
    padding: 15px 0;
  }

  nav .logo svg {
    margin-left: 15px;
  }

  nav .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 40px;
    height: 35px;
    cursor: pointer;
    margin-right: 8px;
  }

  .hamburger-menu span {
    z-index: -1;
    display: block;
    transition: 0.2s;
    width: 27px;
    height: 3px;
    border-radius: 2px;
    background-color: aqua;
  }

  .hamburger-active > span:nth-child(1) {
    margin-left: 10px;
    transform: rotate(45deg);
    transform-origin: top left;
    background-color: aqua;
  }

  .hamburger-active > span:nth-child(2) {
    margin-left: 10px;
    transform: scale(0);
  }

  .hamburger-active > span:nth-child(3) {
    margin-left: 10px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    background-color: aqua;
  }

  nav ul {
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 65px;
    right: 40px;
    width: 130px;
    padding: 10px 5px;
    border: 1px solid rgb(203, 213, 225, 0.4);
    border-radius: 6px;
    transform: translateY(-20px);
    background-color: rgba(15, 23, 42, 0.3);
    backdrop-filter: blur(3px);
    z-index: -1;
  }

  nav ul.show {
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
  }

  section .container {
    flex-direction: column;
    position: relative;
  }

  .container .sideL {
    width: 90%;
    padding-left: 5px;
  }

  .sideL h1 {
    font-size: 45px;
  }

  .sideL a:nth-child(3) {
    margin-bottom: 20px;
  }

  .whtHr {
    transition-duration: 350ms;
  }

  .whtHr .container,
  .abtS .container {
    width: 90%;
    padding-bottom: 20px;
  }

  .abtS {
    transition-duration: 350ms;
  }

  .abtS .container p,
  .whtHr .container p {
    width: 88%;
    padding: 5px 0 0 0;
    display: inline-block;
    overflow-y: auto;
  }

  .abtS .container p::-webkit-scrollbar,
  .whtHr .container p::-webkit-scrollbar {
    display: none;
  }

  .container .sideR {
    width: 100%;
  }

  .sideR img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}
