@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif; 
    z-index: 1;
}

section .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    padding: 4px 10px;
    border-radius: 40px;
    margin-left: 500px;
    font-family: 'Roboto', sans-serif;
}

.search-box .search-icon {
    font-size: 1.18rem;
    color: #7597de;
    margin-left: 4px;
}

.search-box .search-input {
     transition: .5s;
}

.search-input .input {
    border: none;
    outline: none;
    background-color: unset;
    padding: 8px;
    font-weight: bold;
    margin-left: 2px;

}

section ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

section ul li {
    list-style: none;
    margin-left: 20px;
}

section ul li a {
    text-decoration: none;
    padding: 10px 18px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid white;
    transition: 0.2s ease-in-out 0s;
}

section ul li a:hover {
  background-color: white;
  color: black;
}

section ul li a.active {
  background: #fff;
    color: #2b1055;
    letter-spacing: 1px;
    transition-duration: 200ms;
}

#hamburger-menu {
  font-size: 38px;
  color: white;
  border: none;
  display: none;
  transition: 0.2s ease-in-out 0s;
}


.container {
  position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

/* Dropdown Button */
.dropbtn {
    background: none;
    color: white;
    padding: 12px 40px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out 0s;
  }

  .fa-solid {
    margin-right: -20px;
    margin-left: 25px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: white;
    color: black;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    border-radius: 10px;
    margin-top: 10px;
    display: none;
    position: absolute;
    right: -5px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 10px;
    transition: 200ms;
    font-style: italic;
}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

#DisplayClock {
    position: absolute;
    top: 91%;
    left: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
}

.container .starts {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .starts a {
  font-size: 20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  background: transparent;
  padding: 15px 40px;
  border: 2px solid aqua;
  color: white;
  border-radius: 4px;
  font-weight: bolder;
  letter-spacing: 3px;
  transition: 0.3s all ease-in-out 0s;
}

.container .starts a:hover {
  background-color: aqua;
  color: black;
}

@media (max-width: 340px) {
  section {
    width: 100%;
    display: flex;
  }

  section ul{
    display: none;
  }

  .logo {
    position: absolute;
    top: 38px;
    left: 20%;
  }

  #hamburger-menu {
    display: flex;
    font-size: 45px;
    position: absolute;
    top: 30px;
    right: 90px;
  }

  #DisplayClock {
    position: absolute;
    top: 93%;
    left: 10%;
  }  
}


@media (max-width: 640px) {
  section {
    width: 100%;
    display: flex;
  }

  section ul{
    display: none;
  }

  .logo {
    position: absolute;
    top: 50px;
    left: 35px;
  }

  #hamburger-menu {
    display: flex;
    font-size: 45px;
    position: absolute;
    top: 41.8px;
    right: 35px;
  }

  #hamburger-menu:focus {
    font-size: 50px;
    margin-top: -0.6%;
  }

  #DisplayClock {
    position: absolute;
    top: 93%;
    left: 10%;
  }
}