@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #379df1; */
  overflow: hidden;
  background-image: url("img/Background\ Main\ Menu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.container {
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.wadah-1 {
  display: flex;
  width: 93%;
  margin: 15px auto auto auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wadah-1 .logo {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

button > span:nth-child(1) {
  background: linear-gradient(to right, aqua, whitesmoke);
}
button > span:nth-child(3) {
  background: linear-gradient(to left, aqua, whitesmoke);
}

.wadah-1 .hamburger-menu {
  display: flex;
  align-items: center;
}

.hamburger-menu button {
  display: none;
}

.hamburger-active > span:nth-child(1) {
  transform-origin: top left;
  rotate: 45deg;
  background: white;
}
.hamburger-active > span:nth-child(2) {
  scale: 0;
}
.hamburger-active > span:nth-child(3) {
  transform-origin: bottom left;
  rotate: -45deg;
  background: white;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  font-size: 21px;
  align-items: center;
  font-weight: 500;
  margin-left: 10px;
}

nav ul li a {
  justify-content: space-between;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  background-color: transparent;
  padding: 7px 12px;
  border-radius: 10px;
  transition: 0.2s all ease-in-out 0s;
}

nav ul li a:hover {
  background-color: whitesmoke;
  color: #080808;
}

.colm-1 {
  height: 100vh;
  padding: 20px;
}

.colm-1 .mulai {
  position: relative;
  top: 25%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.mulai a {
  padding: 15px 25px;
  color: white;
  background-color: transparent;
  font-size: 33px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out 0s;
}

.mulai a:hover {
  background-color: aqua;
  border: none;
  color: #080808;
  font-weight: bold;
  transition: 0.2s ease-in-out 0s;
}

#DisplayClock {
  color: white;
  position: absolute;
  bottom: 6%;
  left: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: default;
}

/* Extra Extra Larger */
@media screen and (max-width: 1400px) {
  .mulai {
    margin: 0 auto;
  }

  .mulai a {
    font-size: 36px;
  }
}

/* Extra Large */
@media screen and (max-width: 1200px) {
  .mulai {
    margin: 0 auto;
  }

  .mulai a {
    font-size: 34px;
  }
}

/* Large */
@media screen and (max-width: 992px) {
  .mulai {
    margin: 10% auto;
  }

  .mulai a {
    font-size: 32px;
  }
}

/* Medium */
@media screen and (max-width: 768px) {
  .mulai {
    margin: 10% auto;
  }

  .mulai a {
    font-size: 30px;
  }
}

/* Small */
@media screen and (max-width: 576px) {
  .hamburger-menu button {
    display: block;
    position: absolute;
    right: 5px;
    background: transparent;
    border: none;
    z-index: 100;
    padding: 0 5px;
  }

  button span {
    display: block;
    width: 32px;
    height: 3px;
    background-color: white;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 3px;
    transition: 0.2s ease-in-out 0s;
  }

  nav {
    display: none;
  }

  nav ul {
    background-color: #0a9cc0;
    border: 1px solid whitesmoke;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    /* padding: 10px 10px; */
    border-radius: 10px;
    text-align: center;
    animation: effect 0.3s ease;
  }

  @keyframes effect {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  nav ul li {
    margin: 5px 5px;
    padding: 10px 10px;
    border-radius: 5px;
  }

  nav ul li a {
    background-color: transparent;
  }

  nav ul li:hover {
    background-color: #0e7490;
  }

  nav ul li a:hover {
    background-color: transparent;
    color: whitesmoke;
  }

  .mulai {
    margin: 0 auto;
  }

  .mulai a {
    font-size: 28px;
  }

  nav.show {
    display: flex;
  }

  #DisplayClock {
    left: 50px;
  }
}
