@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #08234d;
  overflow-x: hidden;
  /* background-image: url("img/Background\ Main\ Menu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 93%;
  padding: 20px 25px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.507);
}

nav .logo svg {
  color: white;
  margin-left: 10px;
  padding-top: 8px;
}

.hamburger-menu {
  display: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  transition: 0.2s linear;
  transition-delay: .1s;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 15px;
  font-size: 18px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul li a::after {
  content: "";
  display: block;
  margin-top: 5px;
  border-bottom: 2px solid #ffffff;
  border-radius: 5px;
  width: 100%;
  transition: 0.2s linear;
  transform: scaleX(0);
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

.container {
  margin: 0 auto;
  width: 90%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
}

.container .sideL {
  width: 40%;
  height: 85vh;
  position: relative;
}

.sideL h5 {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
  margin-top: 30px;
}

.sideL h1 {
  margin-top: 60px;
  font-size: 60px;
  font-weight: 800;
  color: whitesmoke;
  margin-bottom: 30px;
}

.sideL a:nth-child(3) {
  margin-bottom: 10px;
  font-size: 17px;
  display: block;
  color: #22d3ee;
  text-decoration: none;
}

.sideL a:nth-child(4) {
  font-size: 17px;
  display: block;
  color: #22d3ee;
  text-decoration: none;
  margin-bottom: 60px;
}

.sideL a:nth-child(5) {
  background-color: #06b6d4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  height: 55px;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  transition: 0.2s;
}

.sideL a:nth-child(5):hover {
  background-color: #089db8;
}

.sideL a:nth-child(5) svg:nth-child(1) {
  padding-left: 20px;
}

.sideL a:nth-child(5) h4 {
  border-right: 1px solid white;
  padding-right: 10px;
}

.sideL a:nth-child(5) svg:nth-child(3) {
  padding-right: 11px;
}

.sideL h2 {
  position: absolute;
  bottom: 40px;
  font-size: 28px;
  color: white;
}

.sideL p {
  position: absolute;
  bottom: 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.76);
}

.container .sideR {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.sideR img {
  width:480px;
  object-fit: cover;
}

/* Mobile */
@media screen and (max-width: 576px) {
  nav {
    padding: 25px 0;
  }

  nav .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 40px;
    height: 35px;
    cursor: pointer;
  }
  
  .hamburger-menu span {
    z-index: -1;
    display: block;
    transition: 0.2s;
    width: 27px;
    height: 3px;
    border-radius: 2px;
    background-color: aqua;
  }

  .hamburger-active > span:nth-child(1) {
    margin-left: 10px;
    transform: rotate(45deg);
    transform-origin: top left;
    background-color: aqua;
  }

  .hamburger-active > span:nth-child(2) {
    margin-left: 10px;
    transform: scale(0);
  }

  .hamburger-active > span:nth-child(3) {
    margin-left: 10px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    background-color: aqua;
  }

  nav ul {
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 65px;
    right: 30px;
    width: 130px;
    padding: 10px 5px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    transform: translateY(-20px);
    background-color: #0f172ae1;
    z-index: 1;
  }
  
  nav ul.show {
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
  }

  section .container {
    flex-direction: column;
    position: relative;
  }

  .container .sideL {
    width: 90%;
    padding-left: 5px;
  }

  .sideL h5 {
    font-size: 12px;
  }

  .sideL h1 {
    font-size: 45px;
  }

    .sideL a:nth-child(3) {
      margin-bottom: 20px;
    }

  .container .sideR {
    width: 100%;
  }

  .sideR img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
  }
}
