@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #379df1; */
  overflow: hidden;
  background-image: url("/img/Background\ Quots.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.wadah-1 {
  display: flex;
  width: 93%;
  margin: 15px auto auto auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wadah-1 .logo {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

button > span:nth-child(1) {
  background: aqua;
}
button > span:nth-child(3) {
  background: aqua;
}

.wadah-1 .hamburger-menu {
  display: flex;
  align-items: center;
}

.hamburger-menu button {
  display: none;
}

.hamburger-active > span:nth-child(1) {
  transform-origin: top left;
  rotate: 45deg;
  background: white;
}
.hamburger-active > span:nth-child(2) {
  scale: 0;
}
.hamburger-active > span:nth-child(3) {
  transform-origin: bottom left;
  rotate: -45deg;
  background: white;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  font-size: 21px;
  align-items: center;
  font-weight: 500;
  margin-left: 10px;
}

nav ul li a {
  justify-content: space-between;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  background-color: transparent;
  padding: 7px 12px;
  border-radius: 10px;
  transition: 0.2s all ease-in-out 0s;
}

nav ul li a:hover {
  background-color: whitesmoke;
  color: #080808;
}

.container {
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.container-1 {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 30px 15px 30px 30px;
  text-align: center;
  display: flex;
  width: 60%;
  margin: 5% auto;
}

.setting {
  padding-right: 15px;
  min-width: 380px;
}

h2 {
  margin-bottom: 20px;
}

.input-wrap {
  align-items: center;
  display: flex;
  text-align: center;
  padding-bottom: 10px;
}

.input-1x {
  width: 100%;
}

.input-2x {
  width: 50%;
}

label {
  width: 30%;
  margin-right: 10px;
  text-align: justify;
}

.display {
  width: 100%;
}

textarea,
select,
input,
button {
  border: none;
  resize: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

select,
textarea {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 5px;
}

input[type="range"] {
  accent-color: gray;
}

button {
  cursor: pointer;
  border-radius: 5px;
  color: #080808;
  font-weight: 500;
  background-color: #01e7e7;
  transition: 0.2s ease;
}

button:hover {
  background-color: #02c5c5;
}

.btn-download {
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

#data {
  border: 1px solid #5a5a5a;
}

.material-symbols-outlined {
  color: #080808;
  transition: 0.2s ease;
}

.material-symbols-outlined:hover {
  color: #797979;
}

#clear {
  padding: 5px 7px;
}

#DisplayClock {
  color: white;
  position: absolute;
  bottom: 6%;
  left: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: default;
}

/* Small */
@media screen and (max-width: 576px) {
  .hamburger-menu button {
    display: block;
    position: absolute;
    right: 5px;
    background: transparent;
    border: none;
    z-index: 100;
    padding: 0 5px;
  }

  button span {
    display: block;
    width: 32px;
    height: 3px;
    background-color: white;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 3px;
    transition: 0.2s ease-in-out 0s;
  }

  nav {
    display: none;
  }

  nav ul {
    background-color: #0a9cc0;
    border: 1px solid whitesmoke;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    /* padding: 10px 10px; */
    border-radius: 10px;
    text-align: center;
    animation: effect 0.3s ease;
  }

  @keyframes effect {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  nav ul li {
    margin: 5px 5px;
    padding: 10px 10px;
    border-radius: 5px;
  }

  nav ul li a {
    background-color: transparent;
  }

  nav ul li:hover {
    background-color: #0e7490;
  }

  nav ul li a:hover {
    background-color: transparent;
    color: whitesmoke;
  }

  .mulai {
    margin: 0 auto;
  }

  .mulai a {
    font-size: 28px;
  }

  nav.show {
    display: flex;
  }

  .container .colm {
    z-index: -100;
    width: 70%;
  }

  #DisplayClock {
    left: 50px;
  }
}
