@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../img/Background\ QRCode.png");
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 93%;
  padding: 15px 25px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.507);
}

nav .logo svg {
  color: white;
  margin-left: 10px;
  padding-top: 8px;
}

.hamburger-menu {
  display: none;
}

nav ul {
  padding-top: 10px;
  list-style: none;
  display: flex;
  gap: 10px;
  transition: 0.2s linear;
  transition-delay: .1s;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 15px;
  font-size: 18px;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul li a::after {
  content: "";
  display: block;
  margin-top: 5px;
  border-bottom: 2px solid #ffffff;
  border-radius: 5px;
  width: 100%;
  transition: 0.2s linear;
  transform: scaleX(0);
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section .container {
  background-color: #1e293b;
  width: 80%;
  max-height: 20000px;
  border-radius: 6px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.container h2 {
  text-align: center;
  color: whitesmoke;
  margin: 30px auto 20px auto;
}

.container .tabelQR {
  width: 100%;
  display: flex;
}

.tabelQR .qrSide {
  width: 100%;
  padding: 10px 20px 10px 40px;
}

.qrSide div {
  display: flex;
  align-items: center;
  margin: 20px auto;
}

.qrSide div label {
  width: 100px;
  margin-right: 30px;
  text-align: justify;
  color: whitesmoke;
  font-weight: 600;
  font-size: 17px;
}

.qrSide div textarea {
  width: 100%;
  height: 70px;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  border: none;
  resize: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.qrSide div input {
  width: 100%;
  cursor: pointer;
}

.qrSide div .buttonFile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttonFile a {
  color: white;
  padding: 10px 10px 4px 10px;
}

.buttonFile button {
  background-color: whitesmoke;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.1s ;
}

.buttonFile button:hover {
  background-color: rgb(189, 189, 189);
}

.buttonFile a svg {
  width: 25px;
  height: 25px;
}

.qrSide div select {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}

.qrSide div select option {
  font-weight: 600;
}

.qrSide div #dot-color-1 {
  width: 50%;
}

.qrSide div #dot-color-2 {
  width: 50%;
}

.qrSide div #bg-color {
  width: 100%;
}

.container .qrResult {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.qrResult .qrLoad {
  width: 80%;
  color: whitesmoke;
}

.qrLoad #canvas {
  border: 1px solid #dfcdc3;
  margin: 10px auto;
  width: fit-content;
  padding: 15px 15px 25px 15px;
  border-radius: 2px;
}

.qrLoad button {
  margin-top: 10px;
  background-color: whitesmoke;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 6px 14px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.2s;
}

.qrLoad button:hover {
  background-color: rgb(172, 172, 172);
}

#margin.white {
  background-color: whitesmoke;
}

#margin.gray {
  background-color: gray;
}

#margin,
#size {
  cursor: pointer;
}

#margin.cursorNone {
  cursor: not-allowed;
}

/* .container-1 {
  background-color: #272727;
  color: #dfcdc3;
  border-radius: 5px;
  padding: 30px 15px 30px 30px;
  text-align: center;
  display: flex;
  width: 60%;
  margin: 5% auto;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
}

.setting {
  padding-right: 15px;
  min-width: 380px;
  
}

h2 {
  margin-bottom: 20px;
}

.input-wrap {
  align-items: center;
  display: flex;
  text-align: center;
  padding-bottom: 10px;
}

.input-1x {
  width: 100%;
  cursor: pointer;
}

.input-2x {
  width: 50%;
}

label {
  width: 30%;
  margin-right: 10px;
  text-align: justify;
}

.display {
  width: 100%;
}

textarea,
select,
input,
button {
  border: none;
  resize: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

select,
textarea {
  border: 1px solid aqua;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}

input[type="range"] {
  accent-color: gray;
}

button {
  cursor: pointer;
  border-radius: 5px;
  color: #080808;
  font-weight: 500;
  background-color: #4fcca3;
  transition: 0.2s ease;
}

button:hover {
  background-color: #3e9e7e;
}

.btn-download {
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

#data {
  border: 1px solid #5a5a5a;
}

.material-symbols-outlined {
  color: #dfcdc3;
  transition: 0.2s ease;
}

.material-symbols-outlined:hover {
  color: #797979;
}

#clear {
  padding: 5px 7px;
}

#canvas {
  border: 1px solid #dfcdc3;
  margin: 0 auto;
  width: fit-content;
  padding: 15px 15px 25px 15px;
}

#margin.cursorNone {
  cursor: not-allowed;
} */

#DisplayClock {
  color: white;
  position: absolute;
  bottom: 6%;
  left: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: default;
}

/* Small */
@media screen and (max-width: 576px) {
    nav {
        padding: 15px 0;
      }
    
      nav .logo svg {
        margin-left: 15px;
      }

  nav .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 40px;
    height: 35px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .hamburger-menu span {
    z-index: -1;
    display: block;
    transition: 0.2s;
    width: 27px;
    height: 3px;
    border-radius: 2px;
    background-color: aqua;
  }

  .hamburger-active > span:nth-child(1) {
    margin-left: 10px;
    transform: rotate(45deg);
    transform-origin: top left;
    background-color: aqua;
  }

  .hamburger-active > span:nth-child(2) {
    margin-left: 10px;
    transform: scale(0);
  }

  .hamburger-active > span:nth-child(3) {
    margin-left: 10px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    background-color: aqua;
  }

  nav ul {
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 65px;
    right: 30px;
    width: 130px;
    padding: 10px 5px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    transform: translateY(-20px);
    background-color: #0f172ae1;
  }
  
  nav ul.show {
    opacity: 1;
    transform: translateY(0);
  }

  section .container {
    width: 93%;
    padding: 0 0 50px 0;
    margin-top: 30px;
  }

  .container h2 {
    font-size: 20px;
  }

  .container .tabelQR {
    display: block;
    width: 100%;
  }

  .tabelQR .qrSide {
    width: 85%; 
    padding: 0;
    margin: 0 auto;
  }

  .qrSide div {
    align-items: start;
    flex-direction: column;
    width: 100%;
  }

  .qrSide div label {
    margin-bottom: 5px;
  }

  .qrSide div textarea {
    width: 98%;
  }

  .qrSide div:nth-child(3) {
    flex-direction: row;
  }

  .qrSide div #dot-color-1 {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .qrSide div #dot-color-2 {
    width: 100%;
  }

  .qrLoad button {
    margin-top: 20px;
    padding: 8px 17px;
  }

    .qrResult .qrLoad {
      width: 100%;
      color: whitesmoke;
    }
}
