@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #10b981;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  color: white;
}

nav .logo a {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 33px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  width: 80%;
  letter-spacing: 1px;
  justify-content: flex-end;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 21px;
  padding: 10px;
  transition: 0.2s ease-in-out 0s;
  border-radius: 10px;
}

nav ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 32px;
  opacity: 0;
  left: -6px;
  top: -5px;
  cursor: pointer;
  z-index: 3;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: 0.2s ease-in-out 0s;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

.container {
  width: 100%;
  height: 100vh;
}

.container .colm {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: -8px;
}

.container canvas {
  border: 2px solid white;
  width: 250px;
  height: 250px;
  margin-bottom: 4%;
  margin-top: 20px;
}

.container label {
  margin-top: -2px;
  margin-bottom: 8px;
  opacity: 70%;
  font-style: italic;
  font-size: 13px;
  letter-spacing: 1px;
}

.container input {
  padding: 8px 20px;
  border-radius: 7px;
  background: none;
  border-color: whitesmoke;
  letter-spacing: 2px;
  transition: 0.2s ease-in-out 0s;
}

.container input:focus {
  outline: none;
  border-color: aqua;
  background-color: white;
}

#DisplayClock {
  color: white;
  position: absolute;
  bottom: 6%;
  left: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

/* Mobile */
@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 30px;
    top: 100px;
    width: 40%;
    height: 20vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: gray;
    border-radius: 5px;
    z-index: 13;
    transform: scale(0);
    transition: 0.2s all ease-in-out 0s;
    opacity: 0;
  }

  nav ul li {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
  }

  nav ul li a {
    padding: 0;
    margin-right: 20px;
    background-color: transparent;
  }

  nav ul li:hover {
    color: #080808;
    background-color: #9c9c9c;
  }

  nav ul li a:hover {
    background-color: transparent;
  }

  .menu-toggle {
    display: flex;
    margin-left: 50%;
  }

  nav ul.show {
    transform: scale(100%);
    opacity: 1;
  }

  .container .colm {
    margin-top: -32%;
    align-items: center;
  }

  .container canvas {
    width: 170px;
    height: 170px;
  }

  #DisplayClock {
    margin-left: -20px;
  }
}
