@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #10b981;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  color: white;
}

nav .logo a {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 33px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  width: 80%;
  letter-spacing: 1px;
  justify-content: flex-end;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 21px;
  padding: 10px;
  transition: 0.2s ease-in-out 0s;
  border-radius: 10px;
}

nav ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 32px;
  opacity: 0;
  left: -6px;
  top: -5px;
  cursor: pointer;
  z-index: 3;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: 0.2s ease-in-out 0s;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

.container {
  width: 100%;
  height: 100vh;
}

.container .colm {
  width: 400px;
  padding: 25px 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: gray;
  border-radius: 10px;
}

.container .colm p {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 8px;
}

.container .colm input {
  width: 100%;
  height: 50px;
  border: 1px solid #494eea;
  outline: 0;
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 5px;
}

.container .colm button {
  width: 100%;
  height: 50px;
  background: #494eea;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 20px;
  font-weight: 500;
}

#imgBox {
  width: 200px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}

#imgBox img {
  width: 100%;
  padding: 10px;
}

#imgBox.show-img {
  max-height: 300px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
}

.error {
  animation: shake 0.1s linear 10;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

#DisplayClock {
  color: white;
  position: absolute;
  bottom: 6%;
  left: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: default;
}

/* Mobile */
@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 30px;
    top: 100px;
    width: 40%;
    height: 20vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: gray;
    border-radius: 5px;
    z-index: 13;
    transform: scale(0);
    transition: 0.2s all ease-in-out 0s;
    opacity: 0;
  }

  nav ul li {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* margin-right: 5px; */
    width: 100%;
    height: 100%;
    background: none;
  }

  nav ul li:hover {
    color: #080808;
    background-color: #9c9c9c;
  }

  nav ul li a:hover {
    background-color: transparent;
  }

  .menu-toggle {
    display: flex;
    margin-left: 50%;
  }

  nav ul.show {
    transform: scale(100%);
    transform-origin: 100% 0;
    opacity: 1;
  }

  .container .colm {
    width: 80%;
    height: auto;
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
  }

  #imgBox {
    width: 60%;
  }

  /* #imgBox img {
    width: 70%;
    background-color: red;
  } */

  #DisplayClock {
    margin-left: -20px;
  }
}
