@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #080808;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif; 
    z-index: 1;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    padding: 4px 10px;
    border-radius: 40px;
    margin-left: 500px;
    font-family: 'Roboto', sans-serif;
}

.search-box .search-icon {
    font-size: 1.18rem;
    color: #7597de;
    margin-left: 4px;
}

.search-box .search-input {
     transition: .5s;
}

.search-input .input {
    border: none;
    outline: none;
    background-color: unset;
    padding: 8px;
    font-weight: bold;
    margin-left: 2px;

}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 10px 18px;
    color: #fff;
    border-radius: 10px;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
    transition-duration: 200ms;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #10b981;
    object-fit: cover;
    background-size: cover;
}

.container .colm {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h2 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: -8px;
}

.container canvas {
    border: 2px solid white;
    width: 250px;
    height: 250px;
    margin-bottom: 4%;
    margin-top: 20px;
}

.container label {
    margin-top: -2px;
    margin-bottom: 8px;
    opacity: 70%;
    font-style: italic;
    font-size: 13px;
    letter-spacing: 1px;
}

.container input {
    padding: 8px 20px;
    border-radius: 7px;
    background: none;
    border-color: whitesmoke;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out 0s;
}

.container input:focus {
    outline: none;
    border-color: aqua;
    background-color: white;
}