body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    width: 100%;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e4452;
    opacity: 0.9;
    color: #fff;
    font-weight: 900;
    font-size: 80px;
    font-family: sans-serif;
    mix-blend-mode: multiply;
    user-select: none;
    text-align: center;
}

/* @media screen and (max-width: 576px) {
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
} */