@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle, #00cc99, #6600ff);
  overflow: hidden;
}

.wadah-1 {
  display: flex;
  width: 93%;
  margin: 15px auto auto auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wadah-1 .logo {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

button > span:nth-child(1) {
  background: aqua;
}
button > span:nth-child(3) {
  background: aqua;
}

.wadah-1 .hamburger-menu {
  display: flex;
  align-items: center;
}

.hamburger-menu button {
  display: none;
}

.hamburger-active > span:nth-child(1) {
  transform-origin: top left;
  rotate: 45deg;
  background: white;
}
.hamburger-active > span:nth-child(2) {
  scale: 0;
}
.hamburger-active > span:nth-child(3) {
  transform-origin: bottom left;
  rotate: -45deg;
  background: white;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  font-size: 21px;
  align-items: center;
  font-weight: 500;
  margin-left: 10px;
}

nav ul li a {
  justify-content: space-between;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  background-color: transparent;
  padding: 7px 12px;
  border-radius: 10px;
  transition: 0.2s all ease-in-out 0s;
}

nav ul li a:hover {
  background-color: whitesmoke;
  color: #080808;
}

.container {
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.container .colm {
  width: 400px;
  padding: 25px 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: gray;
  border-radius: 10px;
}

.container .colm p {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 8px;
}

.container .colm input {
  width: 100%;
  height: 50px;
  border: 1px solid #494eea;
  outline: 0;
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 5px;
}

.container .colm button {
  width: 100%;
  height: 50px;
  background: #494eea;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 20px;
  font-weight: 500;
  transition: 0.2s ease;
}

#imgBox {
  width: 200px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}

#imgBox img {
  width: 100%;
  padding: 10px;
}

#imgBox.show-img {
  max-height: 300px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
}

.error {
  animation: shake 0.1s linear 10;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.colm button:hover {
  background: #3b40bb;
}

#btn-download {
  display: none;
}

.show-btn {
  display: block;
}

#btn-download.show-btn {
  display: block;
}

#DisplayClock {
  color: white;
  position: absolute;
  bottom: 6%;
  left: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: default;
}

/* Small */
@media screen and (max-width: 576px) {
  .hamburger-menu button {
    display: block;
    position: absolute;
    right: 5px;
    background: transparent;
    border: none;
    z-index: 100;
    padding: 0 5px;
  }

  button span {
    display: block;
    width: 32px;
    height: 3px;
    background-color: white;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 3px;
    transition: 0.2s ease-in-out 0s;
  }

  nav {
    display: none;
  }

  nav ul {
    background-color: #0a9cc0;
    border: 1px solid whitesmoke;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    /* padding: 10px 10px; */
    border-radius: 10px;
    text-align: center;
    animation: effect 0.3s ease;
  }

  @keyframes effect {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  nav ul li {
    margin: 5px 5px;
    padding: 10px 10px;
    border-radius: 5px;
  }

  nav ul li a {
    background-color: transparent;
  }

  nav ul li:hover {
    background-color: #0e7490;
  }

  nav ul li a:hover {
    background-color: transparent;
    color: whitesmoke;
  }

  .mulai {
    margin: 0 auto;
  }

  .mulai a {
    font-size: 28px;
  }

  nav.show {
    display: flex;
  }

  .container .colm {
    z-index: -100;
    width: 80%;
  }

  #DisplayClock {
    left: 50px;
  }
}
