@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* background: radial-gradient(circle, #00cc99, #6600ff); */
  overflow: hidden;
  background-image: url("../img/Background\ QRCode.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.wadah-1 {
  display: flex;
  width: 93%;
  margin: 15px auto auto auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wadah-1 .logo {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

button > span:nth-child(1) {
  background: aqua;
}
button > span:nth-child(3) {
  background: aqua;
}

.wadah-1 .hamburger-menu {
  display: flex;
  align-items: center;
}

.hamburger-menu button {
  display: none;
}

.hamburger-active > span:nth-child(1) {
  transform-origin: top left;
  rotate: 45deg;
  background: white;
}
.hamburger-active > span:nth-child(2) {
  scale: 0;
}
.hamburger-active > span:nth-child(3) {
  transform-origin: bottom left;
  rotate: -45deg;
  background: white;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  font-size: 21px;
  align-items: center;
  font-weight: 500;
  margin-left: 10px;
}

nav ul li a {
  justify-content: space-between;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  background-color: transparent;
  padding: 7px 12px;
  border-radius: 10px;
  transition: 0.2s all ease-in-out 0s;
}

nav ul li a:hover {
  background-color: whitesmoke;
  color: #080808;
}

.container {
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.container1 {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
}

.container1 .wadah-1 {
  width: 450px;
  height: 100%;
  margin-top: -70px;
}

.container1 .wadah-1 .input-data {
  background-color: #003b46;
  width: 100%;
  max-height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.input-data p {
  font-weight: bold;
  letter-spacing: 1px;
  margin: 25px auto 15px 30px;
  font-size: 17px;
  color: whitesmoke;
}

.input-data form {
  width: 85%;
  display: flex;
  flex-direction: column;
}

form input {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #379df1;
  margin-bottom: 15px;
  outline: none;
  letter-spacing: 1px;
}

form input[type="text"] {
  padding: 0 10px;
}

form button {
  margin-top: 5px;
  padding: 14px;
  border-radius: 5px;
  background-color: #6fb98f;
  border: none;
  transition: 0.2s ease;
  font-size: 17px;
  font-family: "Signika Negative", sans-serif;
}

form button:hover {
  background-color: #2c7873;
  color: whitesmoke;
}

#generated {
  margin: 30px auto 20px auto;
}

#qrcode.borders {
  display: flex;
  justify-content: center;
  border: 1px solid whitesmoke;
  padding: 10px 10px 25px 10px;
  border-radius: 5px;
}

.btn-download {
  display: flex;
  margin-top: 20px;
  padding: 10px 40px;
  background-color: #6fb98f;
  border-radius: 5px;
  color: #080808;
  text-decoration: none;
  justify-content: center;
  margin-bottom: 15px;
  font-family: "Signika Negative", sans-serif;
  transition: 0.2s ease;
}

.btn-download:hover {
  background-color: #2c7873;
  color: whitesmoke;
}

.silang {
  position: absolute;
  margin: 3px 0 0 335px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s ease;
  opacity: 80%;
}

.silang:hover {
  background-color: #c4c4c4;
  border-radius: 50%;
}

.loader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#spinner svg {
  display: inline;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  color: aqua;
  animation: spin 1s linear infinite;
  fill: #0d9488;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#DisplayClock {
  color: white;
  position: absolute;
  bottom: 6%;
  left: 70px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: default;
}

/* Small */
@media screen and (max-width: 576px) {
  .hamburger-menu button {
    display: block;
    position: absolute;
    right: 5px;
    background: transparent;
    border: none;
    z-index: 100;
    padding: 0 5px;
  }

  button span {
    display: block;
    width: 32px;
    height: 3px;
    background-color: white;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 3px;
    transition: 0.2s ease-in-out 0s;
  }

  nav {
    display: none;
  }

  nav ul {
    background-color: #0a9cc0;
    border: 1px solid whitesmoke;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    /* padding: 10px 10px; */
    border-radius: 10px;
    text-align: center;
    animation: effect 0.3s ease;
  }

  @keyframes effect {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  nav ul li {
    margin: 5px 5px;
    padding: 10px 10px;
    border-radius: 5px;
  }

  nav ul li a {
    background-color: transparent;
  }

  nav ul li:hover {
    background-color: #0e7490;
  }

  nav ul li a:hover {
    background-color: transparent;
    color: whitesmoke;
  }

  nav.show {
    display: flex;
  }

  .container1 .wadah-1 {
    width: 88%;
  }

  .silang {
    right: 37px;
  }

  #DisplayClock {
    left: 50px;
  }
}
